{% extends 'core/base.html' %}
{% load static %}

{% block content%}
<!-- Presentación -->
<section>
    <div class="content">
        <div class="row">
            <!-- Break -->
            <div class="col-6 col-12-medium">
                <p>Mi nombre es Francisco García. Soy ingeniero de software aunque más que ingeniero
                    me considero artista. Actualmente resido en la CDMX y soy egresado de la ESCOM</p>

                <p>Siempre he pensado que un buen ingeniero debe estar abierto a experimientar
                    nuevas áreas y ver la forma en cómo aplicamos dichas técnicas, desde un punto
                    de vista multidisciplinario, es decir desde la perspectiva de ver las habilidades 
                    técnicas 
                </p>
                <p>Mi intención es compartir mis técnicas a través de artículos, entrevistas y algún tutorial
                    que iré construyendo con el tiempo.
                </p>
            </div>
            <div class="col-6 col-12-medium">
            </div>
        </div>
    </div>
</section>

<!-- Parrafos -->
<section>
    <div class="content">
        <div class="row">
            <!-- Break -->
            <div class="col-4 col-12-medium">
                <h3>Mi experiencia en desarrollo</h3>
                <p>Extracción, limpieza y visualización de datos ayudando a las empresas
                    a medir la estrategía comercial de sus competidores a través de técnicas de web crawling, pasando
                    por todo un pipeline de procesamiento de datos hasta llevarlo a un reporte para el área comercial.
                </p>
            </div>
            <div class="col-4 col-12-medium">
                <h3>Mis herramientas</h3>
                <p>Principalmente se encuentra Python, Django, Flask, HTML/CSS, Scrapy, PANDAS, Bootstrap
                    Javascript, MySQL, Postgres y actualmente hago experimientos con tecnologías de JS.</p>
            </div>
            <div class="col-4 col-12-medium">
                <h3>Metas a corto plazo</h3>
                <p>Mi interes se centra en la creación aplicaciones web para e-commerce y modelos de machine learning para predicción 
                    junto con sistemas de recomendación. Siempre abierto a descubrir nuevas tecnicas en conjunto con otras áreas.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Especiales-->

<!-- <section>
    <header class="major">
        <h2>Especiales</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-gem"></span>
            <div class="content">
                <h3>Entrevistas</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <a href="#" class="button">Ver</a>
            </div>
        </article>
        <article>
            <span class="icon solid fa-paper-plane"></span>
            <div class="content">
                <h3>Tutoriales</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <a href="#" class="button">Ver</a>
            </div>
        </article>
    </div>
</section> -->
<!-- Posts -->
<!-- <section>
    <header class="major">
        <h2>Artículos</h2>
    </header>
    <div class="paginator">
        <ul class="pagination">
            <li><span class="button disabled">Prev</span></li>
            <li><a href="#" class="page active">1</a></li>
            <li><a href="#" class="page">2</a></li>
            <li><a href="#" class="page">3</a></li>
            <li><span>&hellip;</span></li>
            <li><a href="#" class="page">8</a></li>
            <li><a href="#" class="page">9</a></li>
            <li><a href="#" class="page">10</a></li>
            <li><a href="#" class="button">Next</a></li>
        </ul>
    </div>
    <div class="posts">
        <article>
            <a href="generic.html" class="image"><img src="images/pic01.jpg" alt="" /></a>
            <a href="generic.html"><h3>Linea de comandos - Lo que todo desarrollador debe concoer</h3></a>
            <span class="tags-info">
                <a href="#"><i class="fa fa-tag" aria-hidden="true"></i></a>
                <a href="#">Flask</a>
                <a href="#">Scrapy</a>
                <a href="#">Python</a>
                <a href="#">Docker</a>
            </span>
        </article>
        <article>
            <a href="generic.html" class="image"><img src="images/pic01.jpg" alt="" /></a>
            <a href="generic.html"><h3>Linea de comandos - Lo que todo desarrollador debe concoer</h3></a>
            <span class="tags-info">
                <a href="#"><i class="fa fa-tag" aria-hidden="true"></i></a>
                <a href="#">Flask</a>
                <a href="#">Scrapy</a>
                <a href="#">Python</a>
                <a href="#">Docker</a>
            </span>
        </article>
    </div>
    <div class="paginator">
        <ul class="pagination">
            <li><span class="button disabled">Prev</span></li>
            <li><a href="#" class="page active">1</a></li>
            <li><a href="#" class="page">2</a></li>
            <li><a href="#" class="page">3</a></li>
            <li><span>&hellip;</span></li>
            <li><a href="#" class="page">8</a></li>
            <li><a href="#" class="page">9</a></li>
            <li><a href="#" class="page">10</a></li>
            <li><a href="#" class="button">Next</a></li>
        </ul>
    </div>
</section> -->
{% endblock %}