{% extends 'core/base.html' %}
{% load static %}

{% block content%}
<!-- Presentación -->
<section>
    <div class="content">
        <div class="row">
            <!-- Break -->
            <div class="col-6 col-12-medium">
                <p>Hi! My name is Francisco Garcia. I'm a software engineer. 
                    Currently living in CDMX Mexico most that an engineer I see myself as an artist that uses engineering to solve problems in creative ways. 
                    In my spare time, I like to learn new technologies, create characters for animated films and play around with shaders in GLSL.
                </p>
                <p>This page eventually will become a blog about Python technologies and web development, where you can find
                    interesting articles, tutorials, algorithms and more. Stay tuned.
                </p>
            </div>
            <div class="col-6 col-12-medium">
            </div>
        </div>
    </div>
</section>

<!-- Parrafos -->
<section>
    <div class="content">
        <div class="row">
            <!-- Break -->
            <div class="col-4 col-12-medium">
                <h3>Experience</h3>
                <p>I have experience in advanced techniques for extraction, cleaning, data visualization. 
                    Applying these skills in helping companies to measure the commercial
                    strategies to grow their business opportunities.</p>
            </div>
            <div class="col-4 col-12-medium">
                <h3>Mi tools</h3>
                <p>My stack is mainly based on Python, Django, Flask, HTML/CSS, Scrapy, PANDAS, Bootstrap, Javascript, 
                    MySQL, Postgres and more, for now, I'm doing some experiments with JS libraries and elasticsearch.</p>
            </div>
            <div class="col-4 col-12-medium">
                <h3>Interests</h3>
                <p>Really interested in data engineering, backend development, and Machine Learning techniques.</p>
            </div>
        </div>
    </div>
</section>
<!-- Especiales-->

<!-- <section>
    <header class="major">
        <h2>Especiales</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-gem"></span>
            <div class="content">
                <h3>Entrevistas</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <a href="#" class="button">Ver</a>
            </div>
        </article>
        <article>
            <span class="icon solid fa-paper-plane"></span>
            <div class="content">
                <h3>Tutoriales</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <a href="#" class="button">Ver</a>
            </div>
        </article>
    </div>
</section> -->
<!-- Posts -->
<!-- <section>
    <header class="major">
        <h2>Artículos</h2>
    </header>
    <div class="paginator">
        <ul class="pagination">
            <li><span class="button disabled">Prev</span></li>
            <li><a href="#" class="page active">1</a></li>
            <li><a href="#" class="page">2</a></li>
            <li><a href="#" class="page">3</a></li>
            <li><span>&hellip;</span></li>
            <li><a href="#" class="page">8</a></li>
            <li><a href="#" class="page">9</a></li>
            <li><a href="#" class="page">10</a></li>
            <li><a href="#" class="button">Next</a></li>
        </ul>
    </div>
    <div class="posts">
        <article>
            <a href="generic.html" class="image"><img src="images/pic01.jpg" alt="" /></a>
            <a href="generic.html"><h3>Linea de comandos - Lo que todo desarrollador debe concoer</h3></a>
            <span class="tags-info">
                <a href="#"><i class="fa fa-tag" aria-hidden="true"></i></a>
                <a href="#">Flask</a>
                <a href="#">Scrapy</a>
                <a href="#">Python</a>
                <a href="#">Docker</a>
            </span>
        </article>
        <article>
            <a href="generic.html" class="image"><img src="images/pic01.jpg" alt="" /></a>
            <a href="generic.html"><h3>Linea de comandos - Lo que todo desarrollador debe concoer</h3></a>
            <span class="tags-info">
                <a href="#"><i class="fa fa-tag" aria-hidden="true"></i></a>
                <a href="#">Flask</a>
                <a href="#">Scrapy</a>
                <a href="#">Python</a>
                <a href="#">Docker</a>
            </span>
        </article>
    </div>
    <div class="paginator">
        <ul class="pagination">
            <li><span class="button disabled">Prev</span></li>
            <li><a href="#" class="page active">1</a></li>
            <li><a href="#" class="page">2</a></li>
            <li><a href="#" class="page">3</a></li>
            <li><span>&hellip;</span></li>
            <li><a href="#" class="page">8</a></li>
            <li><a href="#" class="page">9</a></li>
            <li><a href="#" class="page">10</a></li>
            <li><a href="#" class="button">Next</a></li>
        </ul>
    </div>
</section> -->
{% endblock %}